<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <th ng-repeat="logProp in visibleLogProperties.sort()">{{logProp}}</th>
            </thead>
            <tbody>
            <tr ng-repeat="log in logs">
                <td ng-show="visibleLogProperties.indexOf(key)>=0" ng-repeat="(key,value) in log">{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        Filter properties:
        <ul class="list-group">
            <a ng-repeat="logProp in logsProperties.sort()" ng-click="toggleLogProperty(logProp)"
               ng-class="visibleLogProperties.indexOf(logProp)>=0 ? 'selected list-group-item' : 'list-group-item'">{{logProp}}</a>
        </ul>
    </div>
</div>