body { padding-top:30px; }

.selected{
    background-color: lightgrey;
}

.sidebarContainer{
    position: absolute;
    left: 0;
    max-width: 175px;
    word-wrap: break-word;
    font-size: 10px;
}

table{
    font-size:11px;
}

td{
    max-width:250px;
    word-wrap: break-word;
}